header
{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    color: white;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

#logo
{
    font-size: 30px;
    margin: 10px;
    margin-top: 20px;
    letter-spacing: 7px;
}

#connect
{
    display: flex;
    justify-content: space-between;
}

#login
{
    margin-right: 15px;
}

#signup
{
    margin-right: 15px;
}